/* Page wide CSS props */
table {
	font-size: 11px;
}

body {
	font-family: Arial, Helvetica, Sans-serif;
	/*background: -webkit-gradient(linear, 0 20%, 0 49%, from(white),
		to(#BDDAF1));
	background: -moz-linear-gradient(top, #ffffff, #bddaf1); */
	/* for IE */
	text-align: center;
	padding-bottom: 100px;
}

h4 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 5px;
	padding-top: 10px;
}

#content-wrapper {
	margin: 0px auto;
	width: 1000px;
	text-align: left;
	background-color: #ffffff;
	float:left;
	margin-left: 150px;
}

a {
	text-decoration: none;
	border:0;
    outline:none;
}

a img {
    border:0;
    outline:none;
}

#table thead th {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
}


#content {
	clear: both;
	float: left;
	min-height: 750px;
	width: 1000px;
	margin-top: 10px;
	background-color: #ffffff;
	text-align: left;
	min-height: 750px;
}

#content table {
	
	width: 90%;
	margin: 10px 20px;
	font-size: 15px;
	float: inherit;
}

#content td,th {
	text-align: center;
	
	padding: 7px;
}

#submitButtons {
	float: left;
	width: 100%;
	margin: 10px;
}

#submitButtons input {
	margin-left: 10px;
	margin-bottom: 10px;
}

#resyncForm input {
	float: right;
	margin-right: 40px;
}

#entryFields {
	float: left;
	margin-right: 40px;
	width: 40%;
}

#entryFields input,label {
	margin-bottom: 10px;
	display: inline-block
}

#entryFields label {
	width: 120px;
}

#sidebar {
	float: left;
	width: 200px;
	height: 750px;
	padding: 0px;
	margin-left: 20px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#sidebar li {
	margin: 0px;
	padding: 5px;
	
	text-decoration: none;
	border-bottom: 1px dotted;
}

#sidebar a:hover {
	color: #0098db;
}

#sidebar a {
	color: #000000;
}

#right-column {
	float: left;
	width: 750px;
	background-color: white;
	padding: 0px;
	margin-left: 20px;
}

#right-column h3 {
	margin-top: 5px;
	font-size: 18px;
	color: #262f91;
	
}

#right-column table {
	
	font-size: 12px;
	width: 95%;
	float: left;
}

#right-column #dateTable {
	
	font-size: 16px;
	margin-left: 30px;
	width: 50%;
	float: left;
}

#right-column #dailyStatsTable #headerRow td {
	text-align: left;
	padding: 6px;
	background-color: #e0f2f7
}

#right-column th {
	text-align: left;
	padding: 6px;
	background-color: #e0f2f7
}

#right-column td {
	text-align: left;
	
}

#submitForm {
	display:none;
}

#loadImg {
	height: 18px;
	width: 18px;
}


.clear {
	clear: both;
}

.error {
	width: 100%;
	text-align: left;
	float: left;
	font-size: 14px;
	padding: 5px;
	margin: 5px;
	color: red;
}

.success {
	width: 100%;
	text-align: left;
	float: left;
	font-size: 14px;
	padding: 5px;
	margin: 5px;
	color: green;
}

.hidden {
	display: none;
}

.button {
	padding: 2px 5px 2px 5px;
	
	color: #000;
	text-decoration: none;
	background: #dcdcdc url(icon.png) no-repeat scroll 5px center;
	color: #000;
}

.button:HOVER {
	background: gray;
}

